
  .sub-item-link {
    text-decoration:none;
  }
  a:link{
    color:blue;
  }
  a:hover{
    color:red;
  }
  a:active{
    color:red;
  }

  a:focus{
    outline:3px solid blue;
  }
  a:visited{
    color:green;

  }